<a class="header-cart-btn cart-toggle" href="{{ 'compare' | absolute_url }}" style="background: transparent;" ng-show="$ctrl.itemsCount > 0">
    <span class="fa fa-bar-chart"></span>
    <span class="visible-count" id="productCompareListCount" ng-bind="$ctrl.itemsCount"></span>
</a>
